#flockwrap
  #flock 
    %canvas#cv{ width: @flock.width, height: @flock.height }
  #edit
    %a#edit.link= link_to 'Edit', "#edit"
    #header
      %b Name:
      = @flock.name
      %b Width:
      = @flock.width
      %b Height:
      = @flock.height
      %b Boids:
      = @flock.boids
      %b Boidsize:
      = @flock.boidsize
    #controls 
      %a#start.link Start
      %a#stop.link Stop
      %a#toggle_halo.link Halo
      %a#initialize.link Reset
      %a#step.link Step
      %a#redraw.link Redraw
      %a#faster.link Faster
      %a#slower.link Slower
      %a#console_debug.link Console Debug
      %a#show_numbers.link Show Numbers
      .link= link_to 'New', new_flock_path
      .link= link_to 'Back', flocks_path
    #details
      %p#avoid.link
        %b Avoid:
        = @flock.avoid
      %p#align.link
        %b Align:
        = @flock.align
      %p#center.link
        %b Center:
        = @flock.center
      %p#jitter.link
        %b Jitter:
        = @flock.jitter
      %p#goalseek.link
        %b Goalseek:
        = @flock.goalseek
  %script
    != "window.flock = #{@flock.to_json};"
    != "addLoadEvent(function(){window.flock_run = make_flock(window.flock).initialize().start();});"
    != "addLoadEvent(function(){window.flock_run.offset = $(\"#cv\").offset();});"

