%p#notice= notice
#flock 
  #controls 
    %a#start.link Start
    %a#stop.link Stop
    %a#halo.link Halo
    %a#reset.link Reset
    %a#step.link Step
    %a#redraw.link Redraw
    .link= link_to 'Edit', edit_flock_path(@flock)
    .link= link_to 'Back', flocks_path
  #details
    %p
      %b Name:
      = @flock.name
      |
    %p
      %b Avoid:
      = @flock.avoid
      |
    %p
      %b Align:
      = @flock.align
      |
    %p
      %b Center:
      = @flock.center
      |
    %p
      %b Jitter:
      = @flock.jitter
      |
    %p
      %b Goalseek:
      = @flock.goalseek
      |
    %p
      %b Boids:
      = @flock.boids
      |
    %p
      %b Boidsize:
      = @flock.boidsize
      |
    %p
      %b Width:
      = @flock.width
      |
    %p
      %b Height:
      = @flock.height
  %canvas#cv{ width: @flock.width, height: @flock.height }
  %script
    != "window.flock = #{@flock.to_json};"
    != "addLoadEvent(function(){window.flock_run = make_flock(window.flock).initialize().start();});"


#nav
