!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', 
        :content => 'text/html; charset=UTF-8'}/
    :javascript
      var fns=[];function addLoadEvent(func){fns.push(func);}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    %div{ id: "#{params[:controller]}_#{params[:action]}", class: [ "outermost", params[:controller], params[:action] ] }
      = yield
    = javascript_include_tag "application"
    :javascript
      $(document).ready(function(){
        for( i=0; i< fns.length; ++i ){  
          //console.debug([i,fns[i]]);
          $(fns[i]); 
        }   
      }); 
